.loginRegistrationContainer{
    width: 100%;
}

.loginRegistrationOptions{
    width: 70%;
    padding-top: 92px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loginOption, .registrationOption{
  transition: 0.5s ease-in-out;
    width: 50%;
    text-align: center;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}


.backgroundForOptions{
  background-color: #ccc;
  color: blue;

}

.loginMain{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../../images//curveLine.png");
    background-size: cover; 
    background-position: center;
}

.login_form {
    width: 70%;
    min-height: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
  }

  .memberReg{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .memberRegPartTwo, .memberRegPartOne{
    width: 50%;
    padding: 5px;
  }
  
  .form_group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
 .inputLoginReg {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }


  .loginRegSubmitBtn{
    width: 100%;
  }

  
  .btnLoginReg {
    width: 100%;
    padding: 8px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btnLoginReg:hover {
    background-color: #45a049;
  }

  .chooseFileDesign{
    width: 160px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 174, 255);
    position: relative;
  }

  .chooseFile{
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 86px;
    opacity: 0;
    transform: scale(1.6);
   
  }

  .fakeNavBackground{
    width: 100%;
    height: 124px;
    position: fixed;
    top: 0;
    background: linear-gradient(to right, rgb(253, 147, 60), rgb(67, 20, 238),  rgb(127, 213, 253));
  }


  @media screen and ( max-width: 768px) {
    .loginRegistrationContainer{
        width: 100%;
        margin-top: 100px;
    }
    .login_form{
        width: 95%;
    }

    .loginRegistrationOptions{
      width: 95%;
  }
  .memberReg{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }
  .memberRegPartTwo, .memberRegPartOne{
    width: 100%;
    padding: 5px;
  }
  
  }
  @media screen and ( max-width: 480px) {
    .loginRegistrationContainer{
        width: 100%;
        margin-top: 100px;
    }
    .login_form{
        width: 95%;
    }

    .loginRegistrationOptions{
      width: 95%;
  }
  .memberReg{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }
  .memberRegPartTwo, .memberRegPartOne{
    width: 100%;
    padding: 5px;
  }
  
    
  }
  