.blogsMain{
    width: 100%;
    height: 100%;
    position: relative;
}

.blogsMainContainer{
    width: 100%;
    height: 100%;
    padding-top: 90px;
    display: flex;
    align-items: center;
    top: 47px;
    transition: 1s ease-in-out;
}

.blogsFirstPart{
    width: 20%;
    height: 100vh;
    transition: 1s ease-in-out;
}

.blogsFirstPartContainer{
    width: 20%;
    height: 100%;
    position: fixed;
    top: 124px;
    transition: 1s ease-in-out;
}

.gallery_title_container{
    width: 100%;

}

.blogsFirstPartDetail{
    width: 100%;
    height: 100vh;
    background-color: rgb(44, 44, 44);
    font-size: 13px;
}

.title{
  color: white;
  margin-bottom: 20px;
  margin-left: 10px;
}


.blogsSecondPart{
    width: 80%;
    height: 100vh;
}

.bargerRes{
  display: none;
}

.blogsSecondPartContainer{
    width: 100%;
  position: relative;
}


.searchBar{
    width: 80%;
    height: 60px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
    position: fixed;
    top: 124px;
    
}

.totalBlogs{
margin-right: 10px;
font-weight: bold;
font-size: 12px;

}


.searchBarContainer{
    width: 40%;
    background-color: white;
    padding: 0 5px;
    border-radius: 5px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blogs_input{
  outline: none;
  margin-left: 5px;
  width: 85%;
}


  .blogs_Main_Title{
    width: 100%;
    color: aqua;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 14px 0;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
 

  .pagination{
    width: 100%;
    height: 50px;
  
    background-color: lightgray;
    position: fixed;
    bottom: 0;
  }

.pagination{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.blogs{
  width: 100%;
  margin-top:104px;
  padding-bottom:50px
}

.blogsContainer{
  width: 98%;
  margin: auto;
  margin-bottom: 20px;
  padding: 5px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  min-height: 500px;
}

.blogsImgContainer{
  background-color: lightsteelblue;
}

.blogsImgContainer img{
  width: 80%;
  margin: auto;
  padding: 30px 0;
}

.blogLastPart{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blogLastPartTwo{
  display: none;
}

.blogLastPart:hover .blogLastPartTwo{
  display: block;
}


.updateModal{
  width: 80%;
  height: 100vh;
  position: fixed;
  z-index: 5;
  top: 0;
  background-color: lightyellow;
  overflow-y: scroll;
}

.updateModalContainer{
  margin-top: 92px;
}


/* update and add blogs section */

.eventModalSectionButtons{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.eventUpdatebutton, .addEventsNewButton{
  width: 150px;
  height: 30px;
  background-color: rgb(18, 36, 95);
  color: white;
  font-weight: bold;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.ModalSectionContainer{
  width: 100%;
  padding: 10px;
}


.eventUpdateLine, .addEventsNewLine{
  margin-top: 5px;
  margin-bottom: 15px;
  width: 150px;
  height: 4px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.brownColor{
  background-color: rgb(95, 18, 18);
}

.eventUpdateModalSection{
  width: 100%;
  min-height: 400px ;
  max-width: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.eventInputTitle{
  /* margin: auto; */
  width: 60%;
}
.eventInputTitle input{
  margin-top: 5px;
  width: 100%;
  border: 1px solid gray;
  background: none;
  outline: none;
}

.eventInputTitle label, .eventInputDateAndDeadline label, .eventsTextEditorSection label{
  font-size: 13px;
  font-weight: bold;
}

.eventInputDateAndDeadline{
  width: 60%;
  /* margin: auto; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eventInputDateAndDeadline input {
  margin-top: 5px;
  background: none;
  outline: none;
  border: 1px solid gray;
}

.eventsTextEditorSection{
  width: 100%;
  height: auto;
}


.updateEventButton{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.eventsImgSectionMain{
  width: 100%;
  height: 300px;
  border: 2px dashed gray;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


.chooseFileDesign{
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 174, 255);
  position: relative;
}

.chooseFile{
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 86px;
  opacity: 0;
  transform: scale(1.6);
 
}

.eventAddNewModalSection{
  width: 100%;
  min-height: 400px ;
  max-width: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.modalImg{
  width: 90%;
  margin: auto;
}

.modaDescription{
  margin: auto;
  width: 90%;
}

.modalOthers{
  margin: auto;
  width: 90%;
  margin-bottom: 30px;
}

.modalCover{
  width: 90%;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 30px 0;
}

.blogComments{
  width: 80%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 70px;
  display: flex;
  align-items:center;
  justify-content: center;
}

.blogCommentsContainer{
  width: 60%;
  height: 450px;
  background-color: white;
  position: relative;
}

.blogCommentBar{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.commentBarOne{
  width: 95%;
}

.commentBarTwo{
  width: 5%;
}

.commentInputField{
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0;
}

.commentInputField input {
  border: 1px solid gray;
  border-radius: 20px;
  outline: none;
  width: 90%;
  padding: 5px;
}

.blogCommentsPart{
  width: 95%;
  margin: auto;
  height: 340px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
  overflow-y: scroll;
}

.allCommentsPart{
  padding: 10px;
}

.fakeNavBackground{
  width: 100%;
  height: 124px;
  position: fixed;
  z-index: 5;
  top: 0;
  background: linear-gradient(to right, rgb(253, 147, 60), rgb(67, 20, 238),  rgb(127, 213, 253));
}

 
  @media (max-width: 768px) {
   
    .bargerRes{
      display: block;
    }
    .blogsFirstPart{
      position: absolute;
      width: 50%;
      height: 100vh;
      z-index: 20;
      transition: 1s ease-in-out;
  }
  .searchBar{
    margin-top: -4px;
    width: 100%;
  }

  .blogsFirstPartContainer{
    width: 50%;
    transition: 1s ease-in-out;
    top:124px
  }

    .blogsSecondPart{
    width: 100%;
    height: 100vh;
   }

   .pagination{
    width: 100%;
  }

  .updateModal{
    width: 100%;
    margin-top: 50px;
  }

  .eventInputDateAndDeadline{
    display: flex;
    flex-wrap: wrap;
  }
  
  .blogs_input{
    width: 60%;
  }


  .blogComments{
    width: 100%;
  }

  .blogCommentsContainer{
    width: 90%;
    height: 350px;
  }

  .commentInputField input{
    width: 80%;
  }

  .blogCommentsPart{
    height: 230px;
  }

  .fakeNavBackground{
    height: 140px;
  }
  

 
  }
  
  @media (max-width: 480px) {


    .blogsFirstPart{
      position: absolute;
      width: 50%;
      height: 100vh;
     
      transition: 1s ease-in-out;
  }
  .blogsFirstPartContainer{
    width:50%;
    transition: 1s ease-in-out;
    top:140px
  }
  .searchBar{
    margin-top: 10px;
    width: 100%;
  }
  .blogsFirstPartDetail{
    font-size: 12px;
  }

    .blogsSecondPart{
    width: 100%;
    height: 100vh;
   }

   .totalBlogs{
    font-size: 8px;
    
    }

   .pagination{
    width: 100%;
   }

   .updateModal{
    width: 100%;
    top: 50px;
  }

  .eventInputDateAndDeadline{
    display: flex;
    flex-wrap: wrap;
  }

  .blogs_input{
    width: 60%;
  }

  .blogComments{
    width: 100%;
  }

  .blogCommentsContainer{
    width: 95%;
    height: 350px;
  }

  .blogCommentsPart{
    height: 230px;
  }

  .commentBarOne{
    width: 90%;
  }
  
  .commentBarTwo{
    width: 10%;
  }

  .fakeNavBackground{
    height: 140px;
  }
  }
