
 
  .blog-modal-part{
    position: relative;
  }


 .blog-modal-main{
    width: 100%;
    height: 60vh;
    position: relative;
   
 }
  .blog-modal{
    width: 80%;
    height: 60vh;
    overflow-x: hidden;
    margin: auto;
    box-shadow: 0 0 5px 2px #bbbbbb;
    border-radius: 10px;
  }

  .blog-modal-container {
    width: 100%;
    /* height: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .allBlogs {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    padding: 10px;
  }
  


  .blogSlideController{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 70px ;
    color: white;
    position: absolute;
    top: 50%;
    bottom: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blogSlideControllerMain{
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.blogSlideControllerMain span{
    cursor: pointer;
}

  

  
  
  @media (max-width: 768px) {
 

    .blogSlideController{
      font-size: 40px 
    }

    .uil-times-circle{
      font-size: 40px;
    }

    .blog-modal{
      width: 85%;
    }

    .blog-modal-main{
      width: 80%;
      margin: auto;
    }

    .blog-modal-container{
      height: 300px;
    }
  }
  
  @media (max-width: 480px) {
  
    .blogSlideController{
      font-size: 30px 
    }

    .uil-times-circle{
      font-size: 35px;
    }

    .blog-modal{
      width: 100%;
    }

    .blog-modal-main{
      width: 80%;
      margin: auto;
    }
    .blog-modal-container{
      height: 200px;
    }
  }
  