.aboutMain{
    width: 100%;
    position: relative;
}

.aboutBackground{
  background-image: url("../../images/about.png");
  background-size: cover; 
  background-position: center;
 
}
.aboutBackgroundTwo{
  background-image: url("../../images/gradiantLowOpacity.png");
  background-size: cover; 
  background-position: center;

  
}

.aboutUsUpdatePart{
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.gradient_text {
  background-image: linear-gradient(to right, #ff00cc, #3333ff); /* Replace the colors with your desired gradient */
  background-clip: text;
  -webkit-background-clip: text; /* For Safari/Chrome */
  color: transparent;
}

.updateModal{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 5;
    top: 0;
    overflow-y: scroll;
    padding: 10px;
  }
  
  .updateModalContainer{
    margin-top: 110px;
  }
  .aboutUsUpdatePart{
    display: none;
  }


  .aboutMain:hover .aboutUsUpdatePart{
    display: block;
  }


  .aboutImgSectionMain{
    width: 90%;
    height: 300px;
    border: 2px dashed gray;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .aboutTextEditor{
    width: 100%;
    color: black;
  }

  .chooseFileDesign{
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 174, 255);
    position: relative;
  }

  .chooseFile{
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 86px;
    opacity: 0;
    transform: scale(1.6);
   
  }


  .updateButton{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  @media screen and (max-width: 768px) {
    .aboutMain{
      padding-top: 100px
    }

    .aboutBackground{
      background-image: none;
     
    }
  }
  @media screen and (max-width: 480px) {
    .aboutMain{
      padding-top: 100px
    }

    .aboutBackground{
      background-image: none;
     
    }
  }


  /* 
  optometrist501@gmail.com
  optometRist_501@#
  */

 
