.navbarTheMain{
    position: relative;
    width: 100%;
    z-index: 10;
   
 }
 
 .navbarTheContainer{
     position: fixed;
     width: 100%;
     top: 25px;
 }


 .module_border_wrap{ 
    padding: 1rem;
    position: relative;
    padding: 5px;
  }
 .module_border_wrap_active{ 
    padding: 1rem;
    position: relative;
    padding: 5px;
    background: linear-gradient(to right, rgb(253, 147, 60), rgb(67, 20, 238),  rgb(127, 213, 253));
  }
  



  .module{
    background: black;
    width: 100%;
    color: white;
    padding: 2rem;
    border-radius: 10px;
  }

  .logoRes{
    display: none
   }
   .logo{
    display: block;
   }

 @media screen and (max-width: 768px)  { 

   .logoRes{
    display: block
   }
   .logo{
    display: none;
   }
   
 }

 @media screen and (max-width: 480px)  { 

    .navbarTheContainer{
        top: 40px;
    }

    .logoRes{
        display: block
       }
       .logo{
        display: none;
       }
   
 }